{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <h2>Search Books</h2>
    <form method="get" action="{{ url_for('main.search') }}">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>
    <h3>Search Results:</h3>
    <ul>
        {% for book in results %}
            <li>{{ book.title }} by {{ book.author }} - 
                <a href="{{ url_for('static', filename=book.file_path[7:]) }}" target="_blank">Read</a> | 
                <a href="{{ url_for('main.download', filename=book.file_path.split('/')[-1]) }}">Download</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
